extends layout

block content
    div(class="p-10 mx-auto")
        h2(class="text-2xl") Category genre : #{category.name}
        p Category description : #{category.description}
        p(class="text-sm text-yellow-400") Created : #{category.createdAt}
        p(class="text-sm text-yellow-400") Updated : #{category.updatedAt}

        if games.length > 0 
            h2(class="text-2xl text-center mt-5") List Of Games

        div(class="p-5")
            if games.length > 0
                each game in games
                    h2(class="text-xl")= game.name
                    p(class="text-sm")= game.description
            else 
                h2(class="text-lg text-red-600") No games related to the category

    div(class="flex gap-5 px-10") 
        form(action=`/catalog/categories/delete/${category._id}` method="POST")
            button(type="submit" class="px-4 py-2 bg-red-600 rounded-sm") Delete category

        form(action=`` method="PUT")
            button(type="submit" class="px-4 py-2 bg-yellow-600 rounded-sm") Edit category

    if error    
        h2(class="text-xl text-red-600 px-10 py-5")= error
