extends layout

block content
    div(class="p-10 mx-auto")
        h2(class="text-2xl") Category : #{category.name}
        p(class="sm:max-w-[60%]") Description : #{category.description}
        p(class="text-sm text-sky-400 mt-2") Created : #{category.createdFormatted}
        p(class="text-sm text-sky-400") Updated : #{category.updatedFormatted}

        if games.length > 0 
            h2(class="text-2xl text-center mt-2 sm:mt-6") List Of Games

        div(class="mt-5 flex flex-col gap-6 m-auto max-w-[60%]")
            if games.length > 0
                each game in games
                    section(class="bg-slate-800 p-4 rounded-md")
                        h2(class="text-2xl")= game.name
                        p(class="max-w-[80%]") #{game.description.slice(0, 80)}...
                        a(href=game.detailUrl class="text-sky-600") See detail game 
            else 
                h2(class="text-lg text-red-600") No games related to the category

    div(class="flex gap-5 px-10") 
        form(action=`/catalog/categories/delete/${category._id}` method="POST")
            button(type="submit" class="px-4 py-2 bg-red-600 rounded-sm") Delete category
        
        a(href=`/catalog/categories/update/${category._id}` class="px-4 py-2 bg-yellow-600 rounded-sm") Edit category

        if error    
            h2(class="text-xl text-red-600 px-10 py-5")= error
